<h1>CREATE CLIENT</h1>

<div class="row">
    <div class="col-2">

    </div>

    <div class="col-8">
        <div class="form-control">
            <form action="/clients/register" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" name="name" id="" placeholder="Type client's name">
                </div>

                <div class="mb-3">
                    <label for="mainPhone" class="form-label">Main phone number:</label>
                    <input type="text" class="form-control" name="mainPhone" id="" placeholder="Type main phone number">
                </div>

                <div class="mb-3">
                    <label for="secondaryPhone" class="form-label">Secondary phone number:</label>
                    <input type="text" class="form-control" name="secondaryPhone" id=""
                        placeholder="Type secondary phone number">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="col-2">

    </div>


</div>